<nz-layout>
    <nz-header class="header">
        <app-navbar></app-navbar>
    </nz-header>
    <nz-layout>
        <nz-sider [ngStyle]="{'display': sidebarDisplay}" [nzCollapsible]="isCollapsible"
            [nzCollapsedWidth]="collapsedWidth" [(nzCollapsed)]="isSiderCollapsed" class="sider" nzTheme="light">
            <app-sidebar [childCollapsed]="isSiderCollapsed"></app-sidebar>
        </nz-sider>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>