<div class="sidebar-content">
    <ul nz-menu nzMode="inline">
        <li *ngFor="let category of getCategoryKeys()" nz-submenu [nzTitle]="titleFormat">
            <ng-template #titleFormat>
                <nz-avatar [nzText]="category[0]+'S'" nzSize="small" [nzShape]="'square'" class="avatar" nz-tooltip
                    [nzTooltipTitle]="category" nzTooltipPlacement="right" [nzTooltipColor]="tooltipColor">
                </nz-avatar>
                <span [style.padding-left]="main_padding">{{category}}</span>
            </ng-template>
            <ul>
                <li nz-menu-item [style.padding-left]="item_padding" *ngFor="let item of store[category]"
                    (click)="navigateToRoute(category, item.name)">
                    <div>
                        <nz-avatar [nzSrc]="item.logo" nzSize="small" nz-tooltip [nzTooltipTitle]="item.name"
                            nzTooltipPlacement="right" [nzTooltipColor]="tooltipColor"></nz-avatar>
                        {{ item.name }}
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>